doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#body3
    header
    img#logo(src='https://i.imgur.com/nc6CypP.png')
    button.button.button1(onclick="location.href='/';") Home
    button.button.button1(onclick="location.href='/results';") Results
    button.button.button1(onclick="location.href='/about';") About
    button.button.button1(onclick="location.href='/contact';") Contact
         
    section
    
    table(cellspacing='0', cellpadding='0')
      tr
        td
          h2  Competition streaming site 
          p#dots  &#8658 Watch live sport events 
          p#dots  &#8658 Choose between different sports 
          p#dots  &#8658 Enjoy and bet 
          p#dots  &#8658 See results in the table 
        td
          img#img1(src='https://i.imgur.com/LeKELCm.jpg')
          img#img1(src='https://i.imgur.com/vszLex8.jpg')

    <br>
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        font(size='6')
          b Advertising
    | &nbsp
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        b Terms and Conditions
    | &nbsp 
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        b FAQ
    | &nbsp 
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        b Get a job
    a(style='text-decoration: none', target='_blank')
      font(color='white')
        <br><br>
        Copyright © 2018 Simo Dimitrov inc.™ All rights reserved!          
