doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#body4
    header
      nav
        ul#navbar
          li 
            a(href="/layout") Home
          li 
            a(href="/results") Results
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contacts			
          
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Contact us <br />Phone: 02 925 771<br /> Email: cenkocakov@gmail.com
              section.cell