doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#body4
    header
    img#logo(src='https://i.imgur.com/nc6CypP.png')
    button.button.button1(onclick="location.href='/';") Home
    button.button.button1(onclick="location.href='/results';") Results
    button.button.button1(onclick="location.href='/about';") About
    button.button.button1(onclick="location.href='/contact';") Contact		
          
    section
        
        h1 Contact us 
        p.contact1 Phone: 0988328100 / 0882498599
        p.contact2 Email: cenkocakov@gmail.com
        p.contact3 Facebook: https://www.facebook.com/SDIcorporation/
        p.contact4 Twitter: https://twitter.com/sdi_simo
        
    <br>
    a(href='', style='text-decoration: none', target='_blank')
      font(color='black')
        font(size='6')
          b Advertising
    | &nbsp
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='black')
        b Terms and Conditions
    | &nbsp 
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='black')
        b FAQ
    | &nbsp 
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='black')
        b Get a job
    a(style='text-decoration: none', target='_blank')
      font(color='black')
        <br><br>
        Copyright © 2018 Simo Dimitrov inc.™ All rights reserved!  
