doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul#navbar
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact 
            
          section
            <iframe width="640" height="480"
            </iframe>
            br
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Competition streaming site <br />sport events<br /> fun and enterprise
              section.cell