doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#body1
    header
      nav
        ul#navbar
          li 
            a(href="/") Home
          li 
            a(href="/results") Results
          li 
            a(href="/about") About 
          li 
            a(href="/contact") Contact </ul>
          p(align='center')
            img(src='https://i.imgur.com/g2nKRTB.png')
            iframe(width='640', height='480', src='https://www.youtube.com/embed/t-Z5FtPFzVk', <='', iframe='')