doctype html
html(lang='en')
  head
    title Accounting
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body#body5
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            if !user
             li(class=(title == 'Home' ? 'active' : ''))
               a(href='/') Home
             li.del |
             li(class=(title == 'Register' ? 'active' : ''))
               a(href='/users/register') Register
             li.del |
             li(class=(title == 'Login' ? 'active' : ''))
               a(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
           if user
            li
               a(href='/users/logout') Logout
    .container
     != messages()
     block content
    
