doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#body2
    header
      nav
        ul#navbar
          li 
            a(href="/layout") Home
          li 
            a(href="/results") Results
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contacts			
          
