doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#body2
    header
    img#logo(src='https://i.imgur.com/nc6CypP.png')
    button.button.button1(onclick="location.href='/layout';") Home
    button.button.button1(onclick="location.href='/results';") Results
    button.button.button1(onclick="location.href='/about';") About
    button.button.button1(onclick="location.href='/contact';") Contact			
    
    <br><br>
    table(align='center')
      th.th5(colspan='6') Резултати от състезанията
      tr
        td.td5
          | Дата
        td.td5
          | Час
        td.td5
          | Име
        td.td5
          | Участник / Отбор 1
        td.td5
          | Участник / Отбор 2
        td.td5
          | Резултат (О1:О2)
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
      tr
        td.td5
          | .
        td.td5
        td.td5
        td.td5
        td.td5
        td.td5
    <br>
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        font(size='6')
          b Advertising
    | &nbsp
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        b Terms and Conditions
    | &nbsp 
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        b FAQ
    | &nbsp 
    | |&nbsp 
    a(href='', style='text-decoration: none', target='_blank')
      font(color='white')
        b Get a job
    a(style='text-decoration: none', target='_blank')
      font(color='white')
        <br><br>
        Copyright © 2018 Simo Dimitrov inc.™ All rights reserved!