#body1 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/XPsIL7a.jpg");
  color: #fff;
}
#body2 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/YG2kQ91.jpg");
  background-position: center top;
  color: #fff;
}
#body3 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/QGHkDPv.jpg");
  color: #fff;
}
#body4 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/gZi9Ko2.jpg");
  color: #000;
}
a {
  color: #310870;
}
#navbar {
  background-color: #d538e0;
  margin-top: -3%;
}
#logo {
  vertical-align: middle;
}
.button {
  background-color: #fc62e0;
  border-radius: 25px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #b12b7d;
  margin-left: 1%;
  color: #fff;
  border: 2px solid #b12b7d;
  font-weight: bold;
  font-size: 30px;
}
.button1:hover {
  background-color: #fc62e0;
  color: #af0e33;
  font-weight: bold;
  font-size: 40px;
}
.competitions {
  background-color: #fc62e0;
  border-radius: 25px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-left: 1%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.one {
  margin-left: 17%;
}
#box1,
#box5,
#box9,
#box13 {
  margin-left: 15%;
  zoom: 5;
}
#box2,
#box3,
#box4,
#box6,
#box7,
#box8,
#box10,
#box11,
#box12,
#box14,
#box15,
#box16 {
  zoom: 5;
}
#dots {
  color: #00f;
  font-size: 30px;
  font-weight: bold;
  font-family: Tahoma;
  vertical-align: top;
}
h2 {
  color: #a80b85;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.5em;
  vertical-align: top;
}
#img1 {
  margin-left: 40px;
  width: 213px;
  height: 320px;
}
h1 {
  color: #a80b85;
}
.contact1 {
  color: #008000;
  font-weight: bold;
}
.contact2 {
  color: #f00;
  font-weight: bold;
}
.contact3 {
  color: #00f;
  font-weight: bold;
}
.contact4 {
  color: #00cbff;
  font-weight: bold;
}
.th5 {
  background-color: #c10b39;
  color: #fff;
  border: 4px solid #ff5b84;
  padding: 1px 5px;
  font-size: 50px;
  font-family: Helvetica;
}
.td5 {
  border: 4px solid #ff5b84;
  padding: 1px 5px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #353a37;
}
