#body1 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/XPsIL7a.jpg");
}
#body2 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/YG2kQ91.jpg");
  background-position: center top; 
}
#body3 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/QGHkDPv.jpg");
}
#body4 {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://i.imgur.com/gZi9Ko2.jpg");
}
a {
  color: #310870;
}
#wrapper {
  width: 920px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px;
  color: #ffa500;
  font: 25px;
}
#navbar {
  background-color: #d538e0;
  margin-top: -3%;
}
#logo {
  vertical-align: middle;
}
.button {
  background-color: #fc62e0;
  border-radius: 25px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #b12b7d;
  margin-left: 1%;
  color: #fff;
  border: 2px solid #b12b7d;
  font-weight: bold;
  font-size: 30px;
}
.button1:hover {
  background-color: #fc62e0;
  color: #af0e33;
  font-weight: bold;
  font-size: 40px;
}
