#body1
  padding: 50px
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif
  background: url("https://i.imgur.com/XPsIL7a.jpg");
#body2
  padding: 50px
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif
  background: url("https://i.imgur.com/XPsIL7a.jpg");
#body3
  padding: 50px
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif
  background: url("https://i.imgur.com/XPsIL7a.jpg");
#body4
  padding: 50px
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif
  background: url("https://i.imgur.com/XPsIL7a.jpg");
a
  color: #310870
#wrapper
  width 920px
  text-align left 
  margin-left auto 
  margin-right auto
  background #fff
  padding 20px
  border-bottom-radius(15px)
  color: orange
  font: 25px; 
#navbar
  background-color: #d538e0;
  margin-top: -3%;